<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.starrysky.MFanControlApp</string>
  <key>ProgramArguments</key>
  <array>
      <string>/usr/local/bin/MFanControlAppLauncher</string>
  </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>MFANCONTROL_USE_XPC</key>
      <string>1</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
<key>LimitLoadToSessionType</key>
    <string>Aqua</string>
	<key>StandardOutPath</key>
	<string>/tmp/mfancontrol-app.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/mfancontrol-app.err</string>
  </dict>
</plist>
